{% extends "inicio.html" %}
{% load bootstrap5 %}

{% block principal %}

  <br>
  <h3 class="text-body-emphasis">Cursos online</h3>
  <br>
  
  {% if sucesso %}
    <div class="alert alert-success" role="alert">
      Cadastro efetuado com sucesso!
    </div>
  {% else %}
  
  <form action="" method="POST" id="form">
    {% csrf_token %}
    {% bootstrap_form form %} <!--importando os campos do forms.py-->
   
    <button type="submit" class="btn btn-primary btn-lg px-4">Finalizar cadastro</button>
   
  </form>
 
  {% endif %}
{% endblock %}

